.timer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.field {
    display: flex;
    flex-direction: column;
}
.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;    
}
.label {
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}
input {
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
width: 272px;
height: 40px;
border: 1px solid #808080;
border-radius: 4px;
}
input:hover {
    border: 1px solid #000;
}
input:disabled {
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
background: #fafafa;

}
button {
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
    border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #4e75ff;
border: none;
}
button:hover {
    background: #6c8cff;
}
button:disabled {
    background: #cfcfcf;
    color: #989898;
}